* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #08161d;

}

nav {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    position: relative;
    overflow: hidden;  /* hide overview with translateY(101%) */
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    background-color: #08161d;
    display: inline-block;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.664);
}

.movie img {
    width: 100%;
}

.movie-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
    background-color: #203a43;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.2s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

.movie:hover img {
    filter: blur(2px);
    transform: scale(103%);
}

footer {
    background-color: #08161d;
}

/* Info */
p, h1, h2, h3 {
    color: white;
}