body {
    margin: 0px;
    background: #f1f5f8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-center {
    padding: 0px;
    height: 40px;
    width: 100%;
    margin: 0;
    background-color: white;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.nav-links {
    padding: 0px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    list-style-type: none;
}
.container {
    margin: 180px auto;
    text-align: center;
}
h2 {
    background-color: rgb(22, 22, 22);
    padding: 10px;
    border-radius: 7px;
    margin: 20px;
    color: white;
}
a {
    text-decoration: none;
    color: black;
    font-size: calc(1.275rem + .3vw);  /* copied from inspect on chrome (bootstrap styles) */
    margin: 0;
    padding: 0;
}
h4 {
    margin: 0px;
    color: rgb(102, 160, 240);
}
span {
    color: rgb(102, 160, 240);
}